body {
    background: url("images/bg.jpg") no-repeat center fixed; 
    background-color: black;
    background-size: cover;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: center;
}

h1 {
    padding: 0.1em 0.25em;
    margin: 0;
}

div.box {
    color: white;
    background-color: rgba(0, 0, 0, 0.67);
    border-radius: 0.7rem;
}

div.intro {
    width: fit-content;
}

div.item {
    width: 80%;
    margin: 12px auto;
}

div.item a {
    text-decoration: none;
}

div.item img {
    width: 100%;
    border-radius: 0.7rem 0.7rem 0 0;
}

div.item-text {
    padding: 0 17px 12px;
}

div.item-text h2 {
    margin: 10px 0;
}

div.item-text p {
    margin: 0;
}